/*CSS da barra lateral*/
aside span{
    font-family: "Roxborough CF";
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

aside span img, aside span i{
    width: 85%;
    height: 85%;
    font-size: 350%;
}
#linkSuporteTecnico i{
    font-size: 45px;
}

/* .asideDark span{

}
COLOCAR NO FUTURO PARA ALGUMAS PAGS 
*/