/*CSS da barra lateral*/
aside span{
    font-family: "Roxborough CF";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside span img, aside span i{
    width: 50px;
    height: 50px;
    font-size: 50px;
}

/* .asideDark span{

}
COLOCAR NO FUTURO PARA ALGUMAS PAGS 
*/