#configs{
    display: flex;
    flex-direction: column;
}
.configs{
    display: flex;
    flex-direction: column;
}
#configsTitulo{
    color: var(--purpleDark);
    font-size: 30px;
}

#containerConfigs{
    display: flex;
    flex-direction: row;
}
.colunaConfigs{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.infosConfig{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

#configs label{
    color: var(--purpleDark);
}
#btnSenhaConfig{
    width: 20%;
    border-radius: 50px;
    padding: 2.5px 5px;
    align-self: flex-start;
}
#btnEditarConfig{
    width: fit-content;
    align-self: center;
}
.btnSalvarConfig{
    font-size: 14px;
}

.infosConfig input, .infosConfig select{
    color: var(--purpleDark);
    font-family: 'Roxborough CF';
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
    border: solid 1px var(--purpleDark);
    background-color: var(--neutral);
    width: 75%;
}
.infosConfig input:disabled, .infosConfig select:disabled{
    color: var(--orangeDark);
    font-family: 'Roxborough CF';
    font-weight: bold;
    background-color: transparent;
    opacity: 1;
}
.infosConfig input:disabled{
    border: none;
    border-radius: 0;
    padding: 5px 0;
}
.infosConfig select{
    width: 25%;
}

#inpNome{
    font-size: 26px;
}

#infoMaioridade, #infoAvatar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#infoMaioridade p{
    font-size: 16px;
    margin: 0 10px;
    color: var(--purpleDark);
    width: 50%;
}
#iconMaioridade{
    font-size: 35px;
    color: var(--orangeDark);
}
#imgAvatarConfig{
    height: 150px;
    width: 150px;
    border: solid 1px var(--purpleDark);
}
  
#modalSenha{
    background-image: url("../svg/blobPink.svg");
    background-position: 49%;
}
#modalSenha .modal__inner{
    width: 20%;
    height: 50%;
}
#modalSenha input{
    border-radius: 10px;
    width: 90%;
    margin-bottom: 5px;
    border: none;
}

#modalAvatar{
    background-image: url("../svg/blobOrange.svg");
}
#avatares img{
    width: 75px;
    height: 75px;
    object-fit: contain;
    cursor: pointer;
}
#avatares img:hover{
    animation: pular 0.5s;
}
  
@keyframes pular{
    0% { transform: translate(1px, 1px) rotate(0deg); width: 75px; height: 75px;}
    20% { transform: translate(-3px, 0px) rotate(4deg); width: 80px; height: 80px;}
    50% { transform: translate(-1px, 2px) rotate(-2deg); width: 75px; height: 75px;}
    70% { transform: translate(2px, 0px) rotate(-2deg); width: 70px; height: 70px;}
    100% { transform: translate(0px, 0px) rotate(0deg); width: 75px; height: 75px;}
}