/*CSS da página de início*/

/*CSS para o body/aside, adicionado pelo JS*/
.bodyinicio{
    background-color: var(--neutral);
}
.asideinicio, .bodyalbum, .bodyartista{
    color: var(--purpleDark);
}


/*CSS próprio*/
h1{
    width: 100%;
    color: var(--purpleDark);
    font-size: 30px;
}
#saudacao{
    position: absolute;
    top: -10px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: var(--neutralTransp);
    color: var(--orangeDark);
    display: flex;
    align-items: center;
    cursor: default;
}
#saudacao img{
    height: 50px;
}

#favsVazio, #recommendsVazio{
    margin: 5% 0;
    color: var(--purpleDark);
    font-weight: normal;
    font-family: 'Libre Baskerville';
}