body{
    margin: 0;
    overflow: hidden;
}

#filtroDeCor{
    background-color: var(--pinkDark);
}

#background{
    background-image: url("../img/signUpInBg.png");
    background-size: initial;
    animation-name: sliderDeImagens;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    animation-delay: 0ms;
    animation-timing-function: linear;
    width: 100%;
    height: 620px;
}

@keyframes sliderDeImagens{
    0% { background-position: 0% 0%; }
    100% { background-position: 352% 235%; }
}

.modal{
    background: none;
    background-repeat: no-repeat;
    background-position: 47%;
    animation-duration: 1.5s;
}

.modal h1, .modal h3{
    margin: 0;
    color: var(--neutral);
}
.modal h1{
    font-size: 45px;
}
.modal h3{
    margin-bottom: 10px;
}
.modal input, .modal select{
    margin: 3px 0;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: var(--pinkLight);
    font-family: "Libre Baskerville";
    width: 250px;
}
.modal input::placeholder{
    color: var(--pinkTransp);
    text-align: center;
}
.modal select{
    color: var(--pinkTransp);
}
#modalUp .inpEmail::placeholder{
    font-size: 18px;
}
.modal button{
    background-color: var(--orangeDark);
    padding: 10px 25px;
}
.signLink{
    color: var(--neutral);
    font-family: "Libre Baskerville";
    text-decoration: underline;
    cursor: pointer;
}

#spanLinha{
    display: flex;
    flex-direction: row;
    width: 280px;
    justify-content: center;
}
#spanLinha div{
    display: flex;
    flex-direction: column;
}
#spanLinha div:first-child{
    width: 30%;
    margin-right: 5px;
}
#spanLinha div:last-child{
    width: 65%;
    margin-left: 5px;
}
#spanLinha select{
    width: 100%;
}
#spanLinha input{
    width: 85%;
    color: var(--pinkTransp);
}
#spanLinha select:focus, #spanLinha select:hover,
#spanLinha input:focus, #spanLinha input:hover{
    color: black;
}
#spanLinha label{
    font-size: 12px;
}

.erro{
    box-shadow: 0px 0px 5px 2px red;
}
#mensagensErro{
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 15px;
    border: solid red;
    border-width: 0 0 2px 2px;
    border-bottom-left-radius: 25px;
    animation-duration: 1s;
}
#mensagensErro p{
    margin: 5px 0;
}

@keyframes aparecer{
    0%{ opacity: 0; } 100%{ opacity: 1; }
}

#modalUp{
    visibility: visible;
    background-image: url("../svg/blobPurple.svg");
    background-size: 60%;
}
#modalIn{
    background-image: url("../svg/blobPink.svg");
    background-size: 50%;
}

:root{
    --proporcaoTop: -500px;
    --proporcaoEsqrd: -200px;
}
@keyframes popFora{
    20%{ transform: scale(1.2,1.2); }
    100%{ transform: scale(0,0) rotate(390deg);
          top: var(--proporcaoTop);
          left: var(--proporcaoEsqrd); }
}